
<button type="button" class="btn btn-secondary logout-btn" (click)="logout()">logout</button>


<div class="row">
    <div class="col-md-12 mt-3">
        <span class="profile-img-container">
            <img [src]="user.img" [alt]="user.img"></span>
    </div>
    <div class="col-md-12">
        <h3 class="name"> ❤️  {{user.name}} 🟩</h3>
        <span class="id">🆔 {{user.id}}</span>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
            <div style="display: block;">
                    <canvas baseChart 
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [plugins]="barChartPlugins"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
                    </canvas>
                  </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Debug</p>
        <code>
                Hi {{user | json}}
        </code>
    </div>
</div>


