
<div class="row">
  <div class="col-md-8 offset-2 mt-5" *ngIf="!isLoading">
    <div class="chart-container" >
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [colors]="barChartColors"
              [chartType]="barChartType">
      </canvas>
    </div>


  </div>


  <div class="col-md-12" *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>


  <div class="col-md-12 text-center">
    <a class="text-center" routerLink="/upload">upload again 🛀</a>
  </div>
</div>
