img {
  width: 100%;
  max-width: 150pt;
  margin: auto;
  display: block;
  margin-top: 50pt;
}

* {
  text-align: center;
}

button {
  display: block;
  margin: auto;
}

h1 {
  margin-top: 28pt;
  font-size: 19pt;
}


p {
  opacity: 0.5;
}
