<div class="infinity">
  <div class="loading_template">
    <svg class="loading_svg" width="300px" height="200px" viewBox="0 0 187.3 93.7" preserveAspectRatio="xMidYMid meet" style="left: 50%; top: 50%; position: absolute; transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);">
      <path stroke="#ff5252" id="outline" fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z"></path>
      <path id="outline-bg" opacity="0.0005" fill="none" stroke="#ff5252" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z"></path>
    </svg>
  </div>
</div>

<!--<div class="man">-->


  <!--<section class="world">-->
    <!--<div class="back one"></div>-->
    <!--<div class="back two"></div>-->
    <!--<div class="back three"></div>-->
    <!--<div class="back four"></div>-->
    <!--<div class="floor">-->
      <!--<div class="rock one"></div>-->
      <!--<div class="rock two"></div>-->
      <!--<div class="rock three"></div>-->
      <!--<div class="grass one"></div>-->
      <!--<div class="grass two"></div>-->
      <!--<div class="grass three"></div>-->
      <!--<div class="grass four"></div>-->
      <!--<div class="grass five"></div>-->
      <!--<div class="grass six"></div>-->
      <!--<div class="grass seven"></div>-->
      <!--<div class="grass height"></div>-->
      <!--<div class="grass nine"></div>-->
      <!--<div class="grass ten"></div>-->
    <!--</div>-->
    <!--<div class="cloud one"></div>-->
    <!--<div class="cloud two"></div>-->
    <!--<div class="cloud three"></div>-->
    <!--<div class="stick">-->
      <!--<div class="head"></div>-->
      <!--<div class="arm left">-->
        <!--<div class="bottom"></div>-->
      <!--</div>-->
      <!--<div class="arm right">-->
        <!--<div class="bottom"></div>-->
      <!--</div>-->
      <!--<div class="leg left">-->
        <!--<div class="bottom"></div>-->
      <!--</div>-->
      <!--<div class="leg right">-->
        <!--<div class="bottom"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->

<!--</div>-->
