


<div class="row">
  <div class="col-md-12">
    <span class="label-btn logout-btn" (click)="logout()">logout 🚪 </span>

  </div>
</div>
<div class="row">
    <div class="col-md-12 mt-3">
        <span class="profile-img-container">
            <img [src]="user.img" [alt]="user.img"></span>
    </div>
    <div class="col-md-12">
        <h3 class="name"> ❤️  {{user.name}}</h3>
        <span class="label-btn id">🆔 {{user.id}}</span>
    </div>
</div>


<div class="row">
    <div class="col-md-8 offset-2 mt-5" *ngIf="!isLoading">
        <div class="chart-container" >
                <canvas baseChart 
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [colors]="barChartColors"
                  [chartType]="barChartType">
                </canvas>
              </div>

                
    </div>


    <div class="col-md-12" *ngIf="isLoading">
     <app-spinner></app-spinner>
    </div>
</div>

