<div class="row">
  <div class="col-md-6 offset-3">
    <form  (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <p>Login with your company ID</p>

      <div class="form-group" >
        <input type="text"
               name="id"
               min="1"
               maxlength="20"
               placeholder="A*****"
               required
               [(ngModel)]="userId"
               class="form-control" id="id" >
      </div>
      <button type="submit"
              [disabled]="!loginForm.form.valid || isLoading"
              class="btn btn-primary" >Login</button>

      <p *ngIf="isLoading">loading</p>
      <code *ngIf="error" class="text-danger">{{error}}</code>
    </form>
  </div>
</div>
